.advantages {
  &__title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  &__inner {
    position: relative;
    display: flex;
    margin-bottom: 7rem;
  }

  &__list {
    font-weight: 300;
    max-width: 200px;
    margin-bottom: 2rem;

    &-item {
      font-size: 2.2rem;
    }
  }

  &__card {
    padding: 6rem 4rem 2rem;
    color: #fff;
    background: $advantages-card-bg;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &-content:last-child {
      @media (min-width: 768px) {
        display: none;
      }

      .advantages__list {
        max-width: 100%;
      }
    }

    &-title {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    &-image {
      position: absolute;
      top: 12%;
      right: 0;
      width: 100px;

      @media (min-width: 768px) {
        top: 30%;
      }
    }

    &:nth-child(3) {
      & .advantages__list {
        margin-left: 100px;
      }

      & .advantages__card-image {
        top: 35%;
        left: 0;

        @media (min-width: 768px) {
          top: 30%;
        }
      }
    }
  }

  &__plus {
    font-size: 10rem;
    font-weight: 700;
    color: $advantages-card-bg;
    text-align: center;

    @media (min-width: 768px) {
      position: relative;
      right: 5px;
    }
  }

  &__offer {
    margin: 0 auto;
    width: fit-content;
    color: #333;
    margin-bottom: 8rem;

    &-title {
      font-size: 5rem;
    }

    &-text {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__line {
    width: 90%;
    margin-bottom: 2rem;
    background-color: #fff;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
