.quiz-end {
  &__title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 38px;
    text-align: left;
  }

  &__text {
    margin: 0 0 4rem;
    max-width: 500px;
    font-size: 2.4rem;
    // line-height: 28px;
    text-align: left;
  }

  &.hidden {
    display: none;
  }
}
