*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  font-size: 45.5%;

  @media (min-width: 1400px) {
    font-size: 55.5%;
  }

  @media (min-width: 1800px) {
    font-size: 65.5%;
  }

  @media (min-width: 1800px) {
    font-size: 75.5%;
  }
}

.main {
  overflow: hidden;
}

.iti {
  display: block !important;
}
